* {
  background-color: green;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.App h1 {
  color: white;
}

.Clock {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: yellow;
}
